@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: #08012a;
  background: radial-gradient(circle, rgb(8, 1, 50) 0%, rgb(8, 1, 42) 100%);
  align-items: center;
  justify-content: center;
  display: flex;
}
